<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="includes :: head-section"></head>

<body>

<div class="container">
    <div id="inside-container">
        <div class="row">
            <div class="col-md-12">
                <br/>

                <form id="saveStudentForm" method="post" class="form-horizontal">
                    <input type="hidden" name="id" th:value="${id}"/>

                    <div class="form-group">
                        <label for="select1" class="col-lg-12" th:text="#{student.field.name}">Persons</label>
                        <select class="form-control" id="select1" name="person_id">
                            <option
                                    th:each="person : ${persons}"
                                    th:value="${person.id}"
                                    th:text="${person.name + ' (' +
                                    #dates.format(person.birthday, #messages.msg('app.dateformat')) + ', ' +
                                    person.passport + ')'}">
                                Person
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select2" class="col-lg-12" th:text="#{student.field.group}">Groups</label>
                        <select class="form-control" id="select2" name="group_id">
                            <option
                                    th:each="group : ${groups}"
                                    th:value="${group.id}"
                                    th:text="${group.name}">
                                Group
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-1" class="col-lg-12" th:text="#{student.field.start}">Start</label>
                        <input id="input-1" type="date" class="form-control" name="start"
                               th:placeholder="#{student.field.start}" placeholder="START DATE"
                               min="1900-01-01"/>
                    </div>
                    <div class="form-group">
                        <label for="input-2" class="col-lg-12" th:text="#{student.field.finish}">Finish</label>
                        <input id="input-2" type="date" class="form-control" name="finish"
                               th:placeholder="#{student.field.finish}" placeholder="FINISH DATE"
                               min="1900-01-01"/>
                    </div>

                    <button class="btn btn-forms btn-warning" type="reset" name="Reset" th:text="#{button.reset}">
                        Reset
                    </button>
                    <button class="btn btn-forms btn-primary" type="submit" name="Save" th:text="#{button.save}">Save
                    </button>
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>