<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">

<head>
    <object th:include="includes :: head-section"></object>
</head>

<body>

<div th:include="fragments/header :: body-section">Header section</div>

<div id="div-edit-student">
    <div class="container" id="root-container">
        <div th:replace="fragments/db/db-body :: buttons">Buttons section</div>
        <br/>
        <div class="row">
            <div class="col-md-3 brd">
                <br/>
                <a id="print-all-students-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{student.button.show.all}">Show all students</a><br/><br/>
                <a id="find-student-by-id-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{student.button.find.by.id}">Find student by ID</a><br/><br/>
                <a id="find-students-by-any-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{student.button.find.by.any}">Find student by ANY</a><br/><br/>
                <a id="save-student-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{student.button.save}">Save student</a><br/><br/>
                <a id="update-student-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{student.button.update}">Update student</a><br/><br/>
                <a id="delete-student-btn" href="javascript:void(0);" class="btn btn-forms btn-danger"
                   th:text="#{student.button.delete}">Delete student</a><br/><br/>
            </div>
            <div class="col-md-9 text-center brd">
                <div id="student-result"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>