<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">

<head>
    <object th:include="fragments/entities/includes :: head-section"></object>
</head>

<body>
<div th:replace="fragments/header :: page">Header section</div>

<div id="div-edit-subject">
    <div class="container" id="root-container">
        <div th:replace="fragments/db/db-body :: buttons">Buttons section</div>
        <br/>
        <div class="row">
            <div class="col-md-3 brd">
                <br/>
                <a id="print-all-subjects-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{subject.button.show.all}">Show all subjects</a><br/><br/>
                <a id="find-subject-by-id-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{subject.button.find.by.id}">Find subject by ID</a><br/><br/>
                <a id="find-subjects-by-any-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{subject.button.find.by.any}">Find subject by ANY</a><br/><br/>
                <a id="save-subject-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{subject.button.save}">Save subject</a><br/><br/>
                <a id="update-subject-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{subject.button.update}">Update subject</a><br/><br/>
                <a id="delete-subject-btn" href="javascript:void(0);" class="btn btn-forms btn-danger"
                   th:text="#{subject.button.delete}">Delete subject</a><br/><br/>
            </div>
            <div class="col-md-9 text-center brd">
                <div id="subject-result"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>