<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <!--   ______________________________________________________________________________________________    -->

    <!--        MARKERS:             -->
    <!--    LOG4JDBC_CONNECTION      -->
    <!--    LOG4JDBC_RESULTSET       -->
    <!--    LOG4JDBC_JDBC            -->
    <!--    LOG4JDBC_AUDIT           -->
    <!--    LOG4JDBC_JDBC            -->
    <!--    LOG4JDBC_SELECT          -->
    <!--    LOG4JDBC_INSERT          -->
    <!--    LOG4JDBC_UPDATE          -->
    <!--    LOG4JDBC_DELETE          -->
    <!--    LOG4JDBC_CREATE          -->
    <!--    LOG4JDBC_EXCEPTION       -->
    <!--    LOG4JDBC_RESULTSETTABLE  -->


    <!--   OPTIONS:   -->
    <!--   ACCEPT     -->
    <!--   DENY       -->
    <!--   NEUTRAL    -->

    <!--   ______________________________________________________________________________________________    -->

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level - %m%n%ex%n"/>
        </Console>

        <!--<File name="log4jdbc_file" fileName="logs/sql.log">-->
        <!--<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} [%t] %level - %m%n%ex"/>-->
        <!--</File>-->

        <RollingFile name="SQLRollingFile" fileName="logs/logfile.log"
                     filePattern="logs/$${date:yyyy-MM-dd}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%level] %d{yyyy.MM.dd HH:mm:ss.SSS} [thread:%t] - %m%n%ex"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>


    </appenders>
    <!--   ______________________________________________________________________________________________    -->
    <loggers>
        <root level="off">
            <appender-ref ref="Console"/>
        </root>
        <logger name="log4jdbc.resultsettable" level="OFF" additivity="false">
            <appender-ref ref="SQLRollingFile"/>
        </logger>
        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <!--<appender-ref ref="log4jdbc_file"/>-->
            <appender-ref ref="SQLRollingFile"/>
            <Filters>
                <MarkerFilter marker="LOG4JDBC_RESULTSET" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="LOG4JDBC_SELECT" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="LOG4JDBC_CONNECTION" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="LOG4JDBC_CREATE" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="LOG4JDBC_RESULTSETTABLE" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
        </logger>
    </loggers>
    <!--   ______________________________________________________________________________________________    -->

</configuration>