<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="includes :: head-section"></head>

<body>
<div class="container" id="root-container">
    <div id="inside-container">
        <div class="text-center" th:if="${page} != null">
            <div class="row" id="div-marklist">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered">
                        <thead class="table-title">
                        <tr>
                            <th:block th:include="fragments/entities/mark/marklist :: mark-list-title">Table title</th:block>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody id="delete-body">
                        <tr th:id="(${iterationStatus.index} % 2 == 0) ? 'a-row' : 'b-row'"
                            th:each="mark,iterationStatus  : ${page.getContent()}">
                            <td th:text="${mark.id}">id</td>
                            <td th:text="${mark.markType.name}">MarkType_name</td>
                            <td th:text="${mark.teacher.person.name}">Teacher_name</td>
                            <td th:text="${mark.student.person.name}">Student_name</td>
                            <td th:text="${mark.group.name}">Group_name</td>
                            <td th:text="${mark.subject.name}">Subject_name</td>
                            <td th:text="${mark.form.name}">Form_name</td>
                            <td th:text="${#dates.format(mark.date, #messages.msg('app.dateformat'))}">Date</td>
                            <td>
                                <div class="btn-group">
                                    <a th:href="@{${page.url}(id=${mark.id},
                                       page.page=${page.getNumber()},
                                       page.size=${page.size})}"
                                       class="btn btn-forms btn-danger" th:text="#{button.delete}">
                                        delete</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 text-center">
                    <div th:replace="fragments/entities/pagination/template :: template-root">Pagination section</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>