<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{mark.find.title}">Find Mark by ID</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.css}"/>
    <script th:src="@{../../js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{../../js/jquery.validate.min.js}"></script>
    <script th:src="@{../../js/additional-methods.min.js}"></script>
    <script th:src="@{../../js/site.js}"></script>
</head>
<body>

<div class="container">
    <div id="inside-container">
        <div class="row">
            <div class="col-md-12">
                <br/>

                <form id="markFindByIdForm">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">MARK ID</span>
                            <input type="text" class="form-control" name="id"/>
                            <span class="input-group-btn">
                                <button class="btn btn-forms btn-default" type="submit">Find</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="find-result"></div>
    </div>

    <div id="inside-container-2">
        <div class="row">
            <div class="col-md-12">
                <br/>

                <form id="findMarkForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="input-1" class="col-lg-2 control-label">Teacher</label>
                        <input id="input-1" type="text" class="form-control" name="teacherName" placeholder="TEACHER NAME"/>
                    </div>
                    <div class="form-group">
                        <label for="input-2" class="col-lg-2 control-label">Student</label>
                        <input id="input-2" type="text" class="form-control" name="studentName" placeholder="STUDENT NAME"/>
                    </div>
                    <button class="btn btn-forms btn-warning" type="reset" name="Reset" th:text="#{button.reset}">Reset</button>
                    <button class="btn btn-forms btn-primary" type="submit" name="Save" th:text="#{button.search}">Search</button>
                </form>
            </div>
        </div>
        <div id="find-2-result"></div>
    </div>
</div>

</body>
</html>