<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">

<head>
    <object th:include="includes :: head-section"></object>
</head>

<body>

<div th:include="fragments/header :: body-section">Header section</div>

<div id="div-edit-mark">
    <div class="container" id="root-container">
        <div th:replace="fragments/db/db-body :: buttons">Buttons section</div>
        <br/>
        <div class="row">
            <div class="col-md-3 brd">
                <br/>
                <a id="print-all-marks-btn" href="javascript:void(0);" class="btn btn-marks btn-primary"
                   th:text="#{mark.button.show.all}">Show all marks</a><br/><br/>
                <a id="find-mark-by-id-btn" href="javascript:void(0);" class="btn btn-marks btn-primary"
                   th:text="#{mark.button.find.by.id}">Find mark by id</a><br/><br/>
                <a id="find-marks-by-any-btn" href="javascript:void(0);" class="btn btn-marks btn-primary"
                   th:text="#{mark.button.find.by.any}">Find mark by any</a><br/><br/>
                <a id="save-mark-btn" href="javascript:void(0);" class="btn btn-marks btn-warning"
                   th:text="#{mark.button.save}">Save mark</a><br/><br/>
                <a id="update-mark-btn" href="javascript:void(0);" class="btn btn-marks btn-warning"
                   th:text="#{mark.button.update}">Update mark</a><br/><br/>
                <a id="delete-mark-btn" href="javascript:void(0);" class="btn btn-marks btn-danger"
                   th:text="#{mark.button.delete}">Delete mark</a><br/><br/>
            </div>
            <div class="col-md-9 text-center brd">
                <div id="mark-result"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>