<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/entities/includes :: head-section"></object>
</head>

<body>

<div class="container">
    <div id="inside-container">
        <div class="row">
            <div class="col-md-12">
                <br/>

                <form id="saveMarkForm" method="post" class="form-horizontal">
                    <input type="hidden" name="id" th:value="${id}"/>

                    <div class="form-group">
                        <label for="select1" class="col-lg-12" th:text="#{mark.field.marktype}">MarkType</label>
                        <select class="form-control" id="select1" name="marktype_id">
                            <option
                                    th:each="marktype : ${marktypes}"
                                    th:value="${marktype.id}"
                                    th:text="${marktype.name}">
                                MarkTypeName
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select2" class="col-lg-12" th:text="#{mark.field.teacher}">Teacher</label>
                        <select class="form-control" id="select2" name="teacher_id">
                            <option
                                    th:each="teacher : ${teachers}"
                                    th:value="${teacher.id}"
                                    th:text="${teacher.person.name}">
                                TeacherName
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select3" class="col-lg-12" th:text="#{mark.field.student}">Student</label>
                        <select class="form-control" id="select3" name="student_id">
                            <option
                                    th:each="student : ${students}"
                                    th:value="${student.id}"
                                    th:text="${student.person.name}">
                                StudentName
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select4" class="col-lg-12" th:text="#{mark.field.group}">Group</label>
                        <select class="form-control" id="select4" name="group_id">
                            <option
                                    th:each="group : ${groups}"
                                    th:value="${group.id}"
                                    th:text="${group.name}">
                                GroupName
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select5" class="col-lg-12" th:text="#{mark.field.subject}">Subject</label>
                        <select class="form-control" id="select5" name="subject_id">
                            <option
                                    th:each="subject : ${subjects}"
                                    th:value="${subject.id}"
                                    th:text="${subject.name}">
                                SubjectName
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select6" class="col-lg-12" th:text="#{mark.field.form}">Form</label>
                        <select class="form-control" id="select6" name="form_id">
                            <option
                                    th:each="form : ${forms}"
                                    th:value="${form.id}"
                                    th:text="${form.name}">
                                FormName
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-1" class="col-lg-12" th:text="#{mark.field.date}">Date</label>
                        <input id="input-1" type="date" class="form-control" name="date"
                               th:placeholder="#{mark.field.date}" placeholder="MARK DATE"
                               min="1900-01-01"/>
                    </div>

                    <button class="btn btn-forms btn-warning" type="reset" name="Reset" th:text="#{button.reset}">
                        Reset
                    </button>
                    <button class="btn btn-forms btn-primary" type="submit" name="Save" th:text="#{button.save}">Save
                    </button>
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>