<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">

<head>
    <object th:include="fragments/entities/includes :: head-section"></object>
</head>

<body>
<div th:replace="fragments/header :: page">Header section</div>

<div id="div-edit-person">
    <div class="container" id="root-container">
        <div th:replace="fragments/db/db-body :: buttons">Buttons section</div>
        <br/>

        <div class="row">
            <div class="col-md-3 brd">
                <br/>
                <a id="print-all-persons-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{person.button.show.all}">Show all persons</a><br/><br/>
                <a id="find-person-by-id-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{person.button.find.by.id}">Find person by ID</a><br/><br/>
                <a id="find-persons-by-any-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{person.button.find.by.any}">Find person by ANY</a><br/><br/>
                <a id="save-person-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{person.button.save}">Save person</a><br/><br/>
                <a id="update-person-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{person.button.update}">Update person</a><br/><br/>
                <a id="delete-person-btn" href="javascript:void(0);" class="btn btn-forms btn-danger"
                   th:text="#{person.button.delete}">Delete person</a><br/><br/>
            </div>
            <div class="col-md-9 text-center brd">
                <div id="person-result"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>