<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/entities/includes :: head-section"></object>
</head>

<body>
<div class="container" id="root-container">
    <div id="inside-container">
        <div class="text-center" th:if="${page} != null">
            <div class="row" id="div-personlist">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered">
                        <thead class="table-title">
                        <tr>
                            <th:block th:include="fragments/entities/person/personlist :: person-list-title">Table title</th:block>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody id="update-body">
                        <tr th:id="(${iterationStatus.index} % 2 == 0) ? 'a-row' : 'b-row'"
                            th:each="person,iterationStatus  : ${page.getContent()}">
                            <td th:text="${person.id}">id</td>
                            <td th:text="${person.name}">Name</td>
                            <td th:text="${#dates.format(person.birthday, #messages.msg('app.dateformat'))}">Birthday
                            </td>
                            <td th:text="${person.passport}">Passport</td>
                            <td>
                                <div class="btn-group">
                                    <a th:href="@{'/db/person/save'(id=${person.id})}"
                                       class="btn btn-forms btn-warning" th:text="#{button.update}">
                                        update</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 text-center">
                    <div th:replace="fragments/entities/pagination/template :: template-root">Pagination section</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>