<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title th:text="#{db.body.title}">db</title>
    <object th:include="includes :: head-section"></object>
    <base th:href="@{/db/}" />
</head>

<body>
<div th:replace="fragments/header :: page">Header section</div>
<div id="div-db">
    <div class="container" th:if="(${#httpServletRequest.getRemoteUser()} != null )">
        <div class="row" th:fragment="buttons">
            <div class="col-md-12 text-center">
                <a id="person-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.persons}">Persons</a>
                <a id="teacher-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.teachers}">Teachers</a>
                <a id="student-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.students}">Students</a>
                <a id="form-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.forms}">Forms</a>
                <a id="group-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.groups}">Groups</a>
                <a id="mark-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.marks}">Marks</a>
                <a id="marktype-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.marktypes}">Mark types</a>
                <a id="schedule-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.schedules}">Schedules</a>
                <a id="specialization-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.specializations}">Specializations</a>
                <a id="subject-btn" href="javascript:void(0);" class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.subjects}">Subjects</a>
                <a id="authentication-btn" href="javascript:void(0);"
                   class="btn db-btn btn-default btn-sm btn-mrg-top" th:text="#{db.body.button.auth}">Authentication</a>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: page">Footer section</div>
</body>
</html>