<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title>db</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.css}"/>
    <script th:src="@{../../js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{../../js/jquery.validate.min.js}"></script>
    <script th:src="@{../../js/site.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: page">Header section</div>
<div id="div-db">
    <div class="container" th:if="(${#httpServletRequest.getRemoteUser()} != null )">
        <div class="row">

            <div class="col-md-12">
                <a id="person-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Persons</a>
            </div>
            <div class="col-md-12">
                <a id="teacher-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Teachers</a>
            </div>
            <div class="col-md-12">
                <a id="student-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Students</a>
            </div>
            <div class="col-md-12">
                <a id="form-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Forms</a>
            </div>
            <div class="col-md-12">
                <a id="group-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Groups</a>
            </div>
            <div class="col-md-12">
                <a id="mark-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Marks</a>
            </div>
            <div class="col-md-12">
                <a id="mark-type-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Mark types</a>
            </div>
            <div class="col-md-12">
                <a id="schedule-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Schedules</a>
            </div>
            <div class="col-md-12">
                <a id="spec-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Specializations</a>
            </div>
            <div class="col-md-12">
                <a id="subject-btn" href="javascript:void(0);" class="btn btn-primary btn-mrg-top">Subjects</a>
            </div>
            <div class="col-md-12">
                <a id="authentication-btn" href="javascript:void(0);"
                   class="btn btn-warning btn-mrg-top">Authentication</a>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: page">Footer section</div>
</body>
</html>