<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="includes :: head-section"></head>

<body>
<div class="container" id="root-container">
    <div id="inside-container">
        <div class="text-center" th:if="${teacher} != null">
            <div class="row" id="div-teacherlist-1">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered">
                        <thead class="table-title">
                        <tr>
                            <th:block th:fragment="teacher-list-title">
                                <th class="text-center" th:text="#{teacher.field.id}">ID</th>
                                <th class="text-center" th:text="#{teacher.field.name}">NAME</th>
                                <th class="text-center" th:text="#{teacher.field.start}">START</th>
                                <th class="text-center" th:text="#{teacher.field.finish}">FINISH</th>
                            </th:block>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="a-row">
                            <td th:text="${teacher.id}">Id</td>
                            <td th:text="${teacher.person.name}">Person_name</td>
                            <td th:text="${#dates.format(teacher.start, #messages.msg('app.dateformat'))}">Start
                            </td>
                            <td th:text="${#dates.format(teacher.finish, #messages.msg('app.dateformat'))}">Finish
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center" th:if="${page} != null">
            <div class="row" id="div-teacherlist">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered">
                        <thead class="table-title">
                        <tr>
                            <th:block th:include="this :: teacher-list-title">Table title</th:block>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="(${iterationStatus.index} % 2 == 0) ? 'a-row' : 'b-row'"
                            th:each="teacher,iterationStatus  : ${page.getContent()}">
                            <td th:text="${teacher.id}">Id</td>
                            <td th:text="${teacher.person.name}">Person_name</td>
                            <td th:text="${#dates.format(teacher.start, #messages.msg('app.dateformat'))}">Start
                            </td>
                            <td th:text="${#dates.format(teacher.finish, #messages.msg('app.dateformat'))}">Finish
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 text-center">
                    <div th:replace="fragments/entities/pagination/template :: template-root">Pagination section</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>