<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title th:text="#{teacher.title}">Academy - Teacher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.css}"/>
    <script th:src="@{../../js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{../../js/jquery.validate.min.js}"></script>
    <script th:src="@{../../js/additional-methods.min.js}"></script>
    <script th:src="@{../../js/site.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: page">Header section</div>

<div id="div-edit-teacher">
    <div class="container" id="root-container">
        <div th:replace="fragments/db/db-body :: buttons">Buttons section</div>
        <br/>
        <div class="row">
            <div class="col-md-3 brd">
                <br/>
                <a id="print-all-teachers-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{teacher.button.show.all}">Show all teachers</a><br/><br/>
                <a id="find-teacher-by-id-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{teacher.button.find.by.id}">Find teacher by ID</a><br/><br/>
                <a id="find-teachers-by-any-btn" href="javascript:void(0);" class="btn btn-forms btn-primary"
                   th:text="#{teacher.button.find.by.any}">Find teacher by ANY</a><br/><br/>
                <a id="save-teacher-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{teacher.button.save}">Save teacher</a><br/><br/>
                <a id="update-teacher-btn" href="javascript:void(0);" class="btn btn-forms btn-warning"
                   th:text="#{teacher.button.update}">Update teacher</a><br/><br/>
                <a id="delete-teacher-btn" href="javascript:void(0);" class="btn btn-forms btn-danger"
                   th:text="#{teacher.button.delete}">Delete teacher</a><br/><br/>
            </div>
            <div class="col-md-9 text-center brd">
                <div id="teacher-result"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>