<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title th:text="#{footer.title}">Footer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.css}"/>
    <script th:src="@{../../js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{../../js/jquery.validate.min.js}"></script>
    <script th:src="@{../../js/site.js}"></script>
</head>

<body>

<footer class="footer">
    <div class="container">
        <p class="text-muted text-center" th:text="#{db.footer.academy}">db Academy 2015 (c)</p>
    </div>
</footer>

</body>
</html>