<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.css}"/>
    <script th:src="@{../../js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{../../js/jquery.validate.min.js}"></script>
    <script th:src="@{../../js/site.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: page">Header section</div>

<br/><br/>
<div id="div-login">
    <div class="container">
        <div class="row">
            <div class="center-block" style="width:300px;">

                <div class="text-center" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="text-center" th:if="${param.logout}">
                    You have been logged out.
                </div>

                <form class="form-signin" th:action="@{/login}" method="post">
                    <h2 class="form-signin-heading text-center">Please sign in</h2><br/>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                           required="required" autofocus="autofocus"/>
                    <br/>
                    <label for="password" class="sr-only">Password</label>
                    <br/>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                           required="required"/>

                    <div class="checkbox">
                        <label>
                            <input id="remember-me" type="checkbox" value="remember-me"/> Remember me
                        </label>
                        <br/>
                    </div>
                    <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: page">Footer section</div>

</body>
</html>