<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{login.title}">Login</title>
    <object th:include="includes :: head-section"></object>
</head>
<body>

<div th:replace="fragments/header :: page">Header section</div>

<br/><br/>

<div id="div-login">
    <div class="container">
        <div class="row">
            <div class="center-block" style="width:300px;">

                <div class="text-center" th:if="${param.error}" th:text="#{login.error}">
                    Invalid username and password.
                </div>
                <div class="text-center" th:if="${param.logout}" th:text="#{login.logout}">
                    You have been logged out.
                </div>

                <form class="form-signin" th:action="@{login}" method="post">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <h2 class="form-signin-heading text-center" th:text="#{login.sign.in}">Please sign in</h2><br/>
                    <input type="text" name="username" class="form-control" th:placeholder="#{login.username}"
                           required="required" autofocus="autofocus"/>
                    <br/>
                    <br/>
                    <input type="password" name="password" class="form-control" th:placeholder="#{login.password}"
                           required="required"/>

                    <div class="checkbox">
                        <div>
                            <label>
                                <input type="checkbox" name="remember-me" th:text="#{login.remember.me}"/>
                            </label>
                            <br/>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                                th:text="#{login.button.sign.in}">Sign in
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: page">Footer section</div>

</body>
</html>