<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.css}"/>
    <script th:src="@{../../js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{../../js/jquery.validate.min.js}"></script>
    <script th:src="@{../../js/additional-methods.min.js}"></script>
    <script th:src="@{../../js/site.js}"></script>
</head>
<body>
<div id="div-admin">
    <div class="container">
        <div th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
            <a id="edit-person-href" href="javascript:void(0);" class="btn btn-primary">Edit persons</a>
        </div>
        <div class="text-center" th:unless="${#httpServletRequest.isUserInRole('ADMIN')}">
            You can not enter this page. Please contact your administrator.
        </div>
    </div>
</div>
</body>
</html>