<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/entities/includes :: head-section"></object>
</head>

<body>
<div class="container" id="root-container">
    <div id="inside-container">
        <div class="text-center" th:if="${marktype} != null">
            <div class="row" id="div-marktypelist-1">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered">
                        <thead class="table-title">
                        <tr>
                            <th:block th:fragment="marktype-list-title">
                                <th class="text-center" th:text="#{marktype.field.id}">ID</th>
                                <th class="text-center" th:text="#{marktype.field.name}">NAME</th>
                            </th:block>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="a-row">
                            <td th:text="${marktype.id}">id</td>
                            <td th:text="${marktype.name}">Name</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center" th:if="${page} != null">
            <div class="row" id="div-marktypelist">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered">
                        <thead class="table-title">
                        <tr>
                            <th:block th:include="this :: marktype-list-title">Table title</th:block>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="(${iterationStatus.index} % 2 == 0) ? 'a-row' : 'b-row'"
                            th:each="marktype,iterationStatus  : ${page.getContent()}">
                            <td th:text="${marktype.id}">id</td>
                            <td th:text="${marktype.name}">Name</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 text-center">
                    <div th:replace="fragments/entities/pagination/template :: template-root">Pagination section</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>